$bg: white;
$headim: "../img/m-h-day.jpg";
$awesomebg:#0ca1c8;
$headertext:#282b39;
$awesometext: #282b39;
$section_text: #1b1e2a;
$adventurebg: #0ca1c8;
$adventure: #234865;
$button: #699a00;
$section_banner_heading:#1b1e2a;
$section_cardbg: #1b1e2a;
$section_card_heading:#f7f5f2;
$section_card_text:#a2a2a2;
$section_banner_gr1:#679801;
$section_banner_gr2:#295bd8;
$startbg:#0ca1c8;
$start:#1f4648;
$section_banner_text:#aab593;
$footer_bg:#1b1e2a;
$footer:#afadb1;
$text_header: "Source Sans Pro"; 
$sans: "sans-serif";
$logo: "Source Sans Pro";





