$bg: #1b1e2a;
$headim: "../img/m-h-night.jpg";
$awesomebg:#ff4d30;
$headertext:#ffffff;
$awesometext:white;
$section_text: white;
$adventurebg: #ff4d30;
$adventure: white;
$button: #e4ae00;
$section_banner_heading:white;
$section_cardbg: #383d4f;
$section_card_heading:#f7f5f2;
$section_card_text:#a2a2a2;
$section_banner_gr1:#e2ab00;
$section_banner_gr2:#932851;
$startbg:#ff4d30;
$start:white;
$section_banner_text:#aab593;
$footer_bg:#383d4f;
$footer:#b3afb0;
$text_header: "Source Sans Pro"; 
$sans: "sans-serif";
$logo: "Fresca";

